<div class="annonce-preview">

	<!-- Search bar -->
    <section class="articles-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-search"></i>
                </span>

                <input type="text" class="form-control" name="searchText" ng-model="searchText" placeholder="Search" />

                
            </div>
        </div>
    </section>

    <!-- No annonce -->
    <div ng-show="filteredArticles.length <= 0">
        <section>
            <div class="container">
                <div class="container-title">
                    Pas d'annonces.
                </div>
            </div>
        </section>
    </div>

    <!-- Many annonces   -->
    <div ng-show="filteredArticles.length > 0">

        <!--Annonces--> 
        <section class="annonce col-md-4" ng-repeat="annonce in findAll()">
            <div class="container ">
                <div class="annonce-header ">
                    <div class="annonce-header-title">
                        <a ng-href="{{annonce.poste}}" ng-bind="annonce.poste" target="_blank"></a>
                    </div>

                    <!--<div class="annonce-header-actions">
                        <button type="button" class="btn btn-default fa fa-trash">
                        </button>
                    </div>-->
                </div>

                <div class="annonce-body">
                    <p ng-bind="annonce.entreprise"></p>
                </div>

                <div class="annonce-footer">
                    <div class="annonce-footer-tags">
                        <button ng-click="searchByTag(tag)" ng-bind="competence" ng-repeat="competence in annonce.competence"></button>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>