<div class="annonce-preview">

	<!-- Search bar -->
    <section class="annonces-search">
        <div class="container">
            <div class="input-group ">
                <span class="input-group-addon">
                    <i class="fa fa-search"></i>
                </span>
                <input type="text" class="form-control" name="searchText" ng-model="searchText" placeholder="Search" />
            </div>
        </div>
    </section>

    <section class="container statistiques">

                    <!--<span ng-bind="popularcompetence.count"></span>-->
                    <h3>Compétences les plus recherchées :</h3>
                    <div class="annonce-competences"><p class="btn btn-primary annonce-competence" ng-bind="popularcompetence.competences + ' : '
                     + popularcompetence.count + ' fois'"  ng-repeat="popularcompetence in mostpopularcompetences"></a></div>
      
    </section>


    <!-- No annonce -->
    <div ng-show="filteredAnnonces.length <= 0">
        <section>
            <div class="container">
                <div class="container-title">
                    Pas d'annonces.
                </div>
            </div>
        </section>
    </div>

    <!-- Many annonces -->
    <div ng-show="filteredAnnonces.length > 0">
        <!--Annonces--> 
        <div class="container">
            <section class="col-md-4 annonce-section" ng-repeat="annonce in filteredAnnonces=(annonces | filter:searchText)">
                <div class="caption annonce-mini">
                    <div class="annonce-entreprise"><p ng-bind="annonce.entreprise"></p></div>
                    <div class="annonce-poste"><a ui-sref="annonce-details({id:annonce._id})" ng-bind="annonce.poste"></a></div>
                    <div class="annonce-competences"><p class="btn btn-primary annonce-competence" ng-bind="competence" ng-repeat="competence in annonce.competences"></a></div>
                </div>  
            </section>
        </div>
    </div>

</div>