.annonce-preview{

	//background: url(../assets/images/background.jpg) no-repeat center top;
	//background-size: auto 200%;
	background-color : #5E88B7;

	.annonces{
	    overflow:auto;
	    height : 750px;
	}

	.statistiques{
		background-color:white;
		$paddingstats : 12px;
		$marginstats : 50px;
		padding-top : $paddingstats;
		padding-bottom : $paddingstats;
		//margin-bottom:100px;
		//margin-right: $marginstats;
		//margin-left: $marginstats;
	}

	.annonce-root{

	    text-align : center;
	    border-style:solid;
	    border-color: #222884;
	    border-radius:2%;

	    .annonce-footer{
        i{
	        $size:25px;
	        //display:block;
	        width:$size*3;
	        height:$size;
	        line-height:$size;
	        border-radius:20%; 
	        border : 1px solid #0F6AC6;
	        color:#0F6AC6;
        }
    }
	}

    

}