.annonce-preview{

	.annonces{
	    overflow:auto;
	    height : 750px;
	    border : 1px solid #0F6AC6;
		border-radius:10px;
	}

	.statistiques{
		$paddingstats : 12px;
		$marginstats : 50px;
		padding-top : $paddingstats;
		padding-bottom : $paddingstats;
		text-align:center;
	}

	.annonce-root{
	    text-align : center;
	    border-style:solid;
	    border-color: #222884;
	    border-radius:2%;
	}

	.annonce-section {
		padding : 10px 10px 10px 10px;
		height : 170px;
	}

	.annonce-mini {
		text-align:center;
		background:#CAE1FF;
		border-radius:10px;
		border: 1px solid #337ab7;
	}

	.annonce-entreprise {
		padding-top:10px;
		height:50px;
		font-size:25px;
	}

	.annonce-poste {
		padding-top:10px;
		height:60px;
		font-size:18px;
	}

	.annonce-competence {
		margin : 5px 5px 5px 5px;
	}
}