.annonce-preview{

	//background: url(../assets/images/background2.jpg) no-repeat center top;
	//background-size: auto 100%;

	.annonces{
	    overflow:auto;
	    height : 400px;
	}

	.annonce-root{
	    text-align : center;
	    .annonce-footer{
        i{
	        $size:25px;
	        //display:block;
	        width:$size*3;
	        height:$size;
	        line-height:$size;
	        border-radius:20%; 
	        border : 1px solid #0F6AC6;
	        color:#0F6AC6;
        }
    }
	}

    

}