body {
    font-family: $text-font;
    font-size: $font-size-base;
    font-weight: 400;
}

a {
    color: $brand-primary;
    
    transition-duration: $default-transition-duration;

    &:focus,
    &:visited {
        color: $brand-primary;
    }

    &:hover {
        color: $text-hover-color;
    }

    &:hover,
    &:focus,
    &:visited {
        text-decoration: none,
    }
}

* {
    &.active,
    &:focus {
        outline: none !important;
    }
}

.btn-add-annonce{
    i{
        $size:25px;
        display:block;
        width:$size;
        height:$size;
        line-height:$size;
        border-radius:50%; 
        border : 1px solid red;
        color:red;
    }
}