// From bootstrap
$font-size-base: 14px;
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$text-color: #333;
$body-bg: #fff;
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
$brand-primary: #337ab7;
$text-hover-color: #555;


// Fonts
$text-font: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-font: 'Roboto Condensed', Helvetica, Arial, sans-serif;


// Animation
$default-transition-duration: .3s;
