@mixin icon-radius($radius) {
    display: inline-block;

    width: $radius;
    height: $radius;

    line-height: $radius;

    border-radius: $radius;
    text-align: center;

    .fa {
      position: relative;
    }
}
