<section class="newannonce">
    <div class="container">
        <div class="container-title"><h1>Créer une nouvelle annonce</h1></div>

        <form name="myForm" class="form-horizontal" novalidate ng-submit="add()" style="margin-top:60px;">

            <div class="col-sm-5">

                <!-- Entreprise -->
                <div class="form-group" ng-class="{'has-error': !myForm.entreprise.$valid && myForm.entreprise.$dirty}">
                    <label>Entreprise</label>
                    <input type="text" class="form-control" name="entreprise" ng-model="newannonce.entreprise" placeholder="Entreprise" required>

                    <span class="help-block" ng-messages="myForm.entreprise.$error" ng-show="!myForm.entreprise.$valid && myForm.entreprise.$dirty">
                        <span ng-message="required">Entreprise est requis</span>
                    </span>
                </div>

                <!-- Poste -->
                <div class="form-group" ng-class="{'has-error': !myForm.poste.$valid && myForm.poste.$dirty}">
                    <label>Poste</label>
                    <input type="text" class="form-control" name="poste" ng-model="newannonce.poste" placeholder="Poste" required>

                    <span class="help-block" ng-messages="myForm.poste.$error" ng-show="!myForm.poste.$valid && myForm.poste.$dirty">
                        <span ng-message="required">Poste est requis</span>
                    </span>
                </div>

                <!-- Compétences -->
                <div class="form-group" ng-class="{'has-error': !myForm.competence.$valid && myForm.competence.$dirty}">
                    <div>
                    <label>Compétences</label>
                    </div>
                    <input type="text" class="form-control" name="competence" ng-model="competencesline" placeholder="Compétences" required>

                    <span class="help-block" ng-messages="myForm.competence.$error" ng-show="!myForm.competence.$valid && myForm.competence.$dirty">
                        <span ng-message="required">Compétences est requis</span>
                    </span>
                </div>

                <!-- Experience -->
                <div class="form-group" ng-class="{'has-error': !myForm.experience.$valid && myForm.experience.$dirty}">
                    <label>Experience</label>
                    <input type="text" class="form-control" name="experience" ng-model="newannonce.experience" placeholder="Experience" required>

                    <span class="help-block" ng-messages="myForm.experience.$error" ng-show="!myForm.experience.$valid && myForm.experience.$dirty">
                        <span ng-message="required">Experience est requis</span>
                    </span>
                </div>

                <!-- Salaire -->
                <div class="form-group" ng-class="{'has-error': !myForm.salaire.$valid && myForm.salaire.$dirty}">
                    <label>Salaire</label>
                    <input type="text" class="form-control" name="salaire" ng-model="newannonce.salaire" placeholder="Salaire" required>

                    <span class="help-block" ng-messages="myForm.salaire.$error" ng-show="!myForm.salaire.$valid && myForm.salaire.$dirty">
                        <span ng-message="required">Salaire est requis</span>
                    </span>
                </div>

                <!-- Lieu -->
                <div class="form-group" ng-class="{'has-error': !myForm.lieu.$valid && myForm.lieu.$dirty}">
                    <label>Lieu</label>
                    <input type="text" class="form-control" name="lieu" ng-model="newannonce.lieu" placeholder="Lieu" required>

                    <span class="help-block" ng-messages="myForm.lieu.$error" ng-show="!myForm.lieu.$valid && myForm.lieu.$dirty">
                        <span ng-message="required">Lieu est requis</span>
                    </span>
                </div>

            </div>

            <div class="col-sm-1"></div>

            <div class="col-sm-6">
                
                <!-- Description -->
                <div class="form-group" ng-class="{'has-error': !myForm.description.$valid && myForm.description.$dirty}">
                    <label>Description</label>
                    <textarea  type="text" rows="15" class="form-control" name="description" ng-model="newannonce.description" placeholder="Description" required></textarea>

                    <span class="help-block" ng-messages="myForm.description.$error" ng-show="!myForm.description.$valid && myForm.description.$dirty">
                        <span ng-message="required">Description is required</span>
                    </span>
                </div>

                
                <button type="submit" class="btn btn-default" ng-disabled="!myForm.$valid">Sauvegarder</button>
                <a ui-sref="annonce-preview" class="btn btn-default">Annuler</a>
                

            </div>
        </form>
    </div>
</section>
